body {
  font-family: "Playfair Display", serif;
}

.logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

.calc {
  display: flex;
  width: 95vw;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 3px solid #000;
  border-radius: 30px;
  align-items: center;
  background-image: linear-gradient(256deg, #673ab74f, transparent);
}

.calculator-content {
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
}

.table-container {
  display: flex;
  width: 95vw;
  height: fit-content;
  border: 2px solid #000;
  margin: 0 auto;
  background-image: linear-gradient(0deg, #2a67bb26, transparent);
}

.sum-container {
  display: flex;
  width: 95vw;
  height: 50px;
  margin: 0 auto;
}

.left,
.right,
.left-sum,
.right-sum {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.left {
  border-right: 2px solid #000;
  border-bottom: none;
}

.right {
  border-left: 2px solid #000;
}

.left-sum,
.right-sum {
  border: 2px solid #000;
  border-top: none;
  background-image: linear-gradient(0deg, #2a67bb26, transparent);
}

.right-sum {
  border-left: none;
}

.inc-header,
.exp-header {
  width: 100%;
  font-size: 20px;
  color: #000;
  margin-left: 10px;
  margin-bottom: 40px;
  font-weight: 500;
}

.income-form,
.expenses-form {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.inc-name,
.exp-name {
  margin-bottom: 8px;
}

.inc-value,
.exp-value {
  margin-bottom: 15px;
}

.btn-add {
  width: 100px;
  margin-left: 25px;
  margin: 0 auto;
}

.button-save {
  margin: 0 auto;
}

.button {
  width: 50px;
  margin: 0 auto;
  margin-right: 10px;
}

.btn-add,
.button,
.button-save {
  height: 25px;
  border-radius: 15px;
  border-color: azure;
}

.inc-sum,
.exp-sum {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin: auto auto 15px 15px;
}

.form {
  display: flex;
}

.inc-list,
.exp-list {
  margin-bottom: 20px;
  padding: 0;
}

.incList,
.expList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 10px;
}

.inc-title,
.exp-title {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .calculator-content {
    font-size: 20px;
  }

  .sum-container {
    display: flex;
    width: 95vw;
    height: 50px;
    margin: 0 auto;
  }

  .button-save {
    width: 100px;
  }

  .button {
    width: 130px;
    margin-right: 40px;
  }

  .inc-sum,
  .exp-sum {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .calc {
    display: flex;
    width: 700px;
  }

  .calculator-content {
    font-size: 20px;
  }

  .table-container {
    display: flex;
    width: 1000px;
  }

  .sum-container {
    display: flex;
    width: 1000px;
  }

  .income-form,
  .expenses-form {
    display: block;
  }

  .button-save {
    width: 100px;
  }

  .edit-name {
    margin-right: 5px;
  }

  .button {
    width: 100px;
  }

  .button-save {
    margin-left: 15px;
  }

  .inc-sum,
  .exp-sum {
    display: flex;
    font-size: 20px;
  }

  .form {
    display: block;
  }

  .incList,
  .expList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 20px 10px;
  }
}
